{% extends 'base.html' %}

{% block head %}
<title>Create</title>
{% endblock %}

{% block body %}
<form class="m-5" action="/{{username}}" method="POST">
    <div class="pb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="title">
    </div>
    <div class="pb-3">
        <label class="form-label" for="detail">Detail</label>
        <input class="form-control" type="text" name="detail">
    </div>
    <div class="pb-3 col-4">
        <label class="form-label" for="due">Due</label>
        <input class="form-control" type="date" name="due" required>
    </div>
    <a href="/{{username}}" role="button" class="btn btn-outline-primary">Return</a>
    <input class="btn btn-primary" type="submit" value="Create">
</form>
{% endblock %}