{% extends 'base.html' %}

{% block body %}
<form class="m-5" action="/" method="POST">
    <label class="form-label" for="title">Title</label>
    <input class="form-control" type="text" name="title">

    <label class="form-label"  for="detail">Detail</label>
    <input class="form-control" type="text" name="detail">

    <label class="form-label"  for="due">Due</label>
    <input class="form-control" type="date" name="due" required>

    <input class="btn btn-primary" type="submit" value="Create">
</form>
{% endblock %}