{% extends 'base.html' %}

{% block head %}
<title>Update</title>
{% endblock %}

{% block body %}
<form class="m-5" action="/{{user.username}}/update/{{post.id}}" method="POST">
    <div class="pb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="title" value="{{post.title}}">
    </div>
    <div class="pb-3">
        <label class="form-label" for="detail">Detail</label>
        <input class="form-control" type="text" name="detail" value="{{post.detail}}">
    </div>
    <div class="pb-3 col-4">
        <label class="form-label" for="due">Due</label>
        <input class="form-control" type="date" name="due" value="{{post.due.date()}}" required>
    </div>
    <a href="/{{user.username}}" role="button" class="btn btn-outline-primary">Return</a>
    <input class="btn btn-primary" type="submit" value="Update">
</form>
{% endblock %}